/* Transactions.css */
.transactions {
    margin: 20px 0;
  }
  
  .transactions ul {
    list-style-type: none;
    padding: 0;
  }
  
  .transactions li {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .transactions li button {
    background: #ff5252;
  }
  
  .transactions li button:hover {
    background: #ff1f1f;
  }
  